 .gg{
    background-color: #fffaf3;
 }
 .card-about{
    margin-bottom: 10vw;
 }
.card-about p{
    font-size: small;

    }

 .card-about-hov:hover{
    background-color: $oreyll !important;
    color: white !important;
 }
 