 .gg{
    background-color: #fffaf3;
 }
 .card-about{
    margin-bottom: 10vw;
 }
.card-about p{
    font-size: small;
    font-family: $my-font;

    }

   .card-about-hov{
       transition: 0.4s ease; 
    }
 .card-about-hov:hover{
    background-color: $oreyll !important;
    color: white !important;
    transform: scale(1.08);
 }
 