*{
    margin: 0;
    padding: 0;
}
.text a{
    text-decoration: none;
    color: white;
    font-size: small;
}
.topbar{
    background: transparent;
}
.custum_btn{
    border-radius: 50vw;
    width: 9vw;
   font-size:medium;
}
.bi {
    color: $oreyll;
}
.custum-a a{
    color: white;
    font-size: medium;
}