*{
    margin: 0;
    padding: 0;
}
.text1 a{
    text-decoration: none;
    color: white !important;
    font-size: small;
}
.topbar{
    background: transparent;
}

 

    
.custum_btn{
    color: white;
    border-radius: 50vw;
    width: 10vw;
   font-size:medium;
}
.bi {
    color: $oreyll;
}
.custum-a a{
    color: white;
    font-size: medium;
}
.carousel-custume{
    height: 100vh;
}
.custume-btn-carousel{
    border: solid $oreyll 2px;
    background: none;
    border-radius: 50vw;
    color: white !important;

}