@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$red: #ff3b3b;
$dark: #111;
$light: #eee;



$human: #3cff00;
$alien: #001141;
$oreyll:#feb13b;
$brown:#1f160c;



$custom-colors: (
"oreyll":$oreyll,
"human": $human,
"alien": $alien,
"brown": $brown
);
$theme-colors: map-merge($custom-colors , $theme-colors);

$spacer: 20px;
@for $i from -100 through 100 {
    $spacers: map-merge( $spacers, ($i: $i * $spacer));
};


@font-face {
    font-family: "Satisfy";
    src: url(../../public/fonts/Satisfy/Satisfy-Regular.ttf) format("truetype");
    font-weight: normal;
    font-size: normal;
};

$my-font:"Satisfy";

@mixin caredzndx{
   position: absolute;
   background-color: rgb(203, 203, 203);
   width: 90%;
   bottom: -100px;
   margin-left:1vw ;
}